/* Titles ===================== */
/* GLOBAL ===================== */
:root {
    --blue: #3EC6FF;
    --white: #FFFFFF;
    --white-claro: #3EC6FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: var(--white);
    font-family:'Poppins', sans-serif;
}

/* Header */

.logo1{
    display: flex;
    align-items: center
    
}

.headertop{
    margin-top: 20px;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 05px;

}

/* MAIN */

.information_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background-color: rgba(62, 198, 255, 0.34);
}

/* IMAGENS */

#imagem1{
    display: inline-block;
    position: relative;
}


#imagem1 .imagem1 {
    
    width: 100%;
    height: 750px;
}

#imagem1 figcaption{
    position: absolute;
    top: 190px;
    right: 60%;
    font-size: 20px;
    color: var(--white);
    text-align: center;
    background-color: rgba(62, 198, 255, 0.51);
    border-radius: 20px;
    margin-top: -60px;
    margin-left: 80px;
    margin-right: 10px;
}


/* BUTTONS */

.saibamais{
    text-decoration: none;
    color: var(--blue);
    background-color: var(--white);
    border-radius: 15px;
    font-family: normal, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    display: inline-block;
    right: 100px;
    width: 300px;
}

.Beginning{
    background-color: var(--white);
    border: none;
}

.feeding{
    background-color: var(--white);
    border: none;
}

.Health{
    background-color: var(--white);
    border: none;
}

.Testimonials{
    background-color: var(--white);
    border: none;
}

.About{
    background-color: var(--white);
    border: none;
}

.Contact{
    background-color: var(--white);
    border: none;
}

.button{
    text-decoration: none;
    margin: 25px;
    color: var(--blue);
}

.img2 {
    color: var(--white);
    text-decoration: none;
}

.img3 {
    color: var(--white);
    text-decoration: none;
}

.img4 {
    color: var(--white);
    text-decoration: none;
}

.img5 {
    margin-left: 30px;
    text-decoration: none;
    color: rgba( 0, 0, 0, 5);
    opacity: 1.0;
}

.img6 {
    text-decoration: none;
    color: rgba( 0, 0, 0, 5);
    opacity: 0.5;

}

.img7 {
    margin-left: 30px;
    text-decoration: none;
    color: rgba( 0, 0, 0, 5);
    opacity: 1.0;
}

.img8 {
    margin-left: 30px;
    text-decoration: none;
    color: rgba( 0, 0, 0, 5);
    opacity: 1.0;
}

.img5font{
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.5;
}

.img5text {
    margin-bottom: 10px;
    padding: 30px;
    opacity: 0.5;
}


.img7font{
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.5;
}

.img8font{
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.5;
}

.img6text {
    opacity: 0.5;
}

.img7text {
    margin-bottom: 10px;
    padding: 30px;
    opacity: 0.5;
}

.img8text {
    margin-bottom: 10px;
    padding: 30px;
    opacity: 0.5;
}

.Enviarfooter {
    font-weight: 500;
    width: 100px;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--white);
    color: var(--blue);

    cursor: pointer;
}

.input-group {
    display: flex;
    justify-content: space-around;
}

.button-save {
    width: 40%;
    text-decoration: none;
    padding: 25px;
    background-color: rgba(45, 156, 219, 1);
    border: 3px;
    border-radius: 10px;
}

.button-cancel {
    width: 40%;
    text-decoration: none;
    padding: 25px;
    background-color: var(--white);
    border: 3px solid #D7D4D4;
    box-sizing: border-box;
    border-radius: 10px;
}

/* INFOS */

#imagem2{
    display: inline-block;
    position: relative;
}

#imagem2 .imagem2 {
    width: 100%;
    height: 100%;
}

#imagem2 figcaption{
    position: absolute;
    top: 165px;
    right: 90px;
    font-size: 15px;
    color: var(--white);
    text-align: center;
    border-radius: 20px;
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 10px;
    
}


#imagem3{
    display: inline-block;
    position: relative;
}

#imagem3 .imagem3 {
    width: 100%;
    height: 100%;
}

#imagem3 figcaption{
    position: absolute;
    top: 165px;
    right: 65px;
    font-size: 15px;
    color: var(--white);
    text-align: center;
    border-radius: 20px;
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 10px;
    
}

#imagem4{
    display: inline-block;
    position: relative;
}

#imagem4 .imagem4 {
    width: 100%;
    height: 100%;
}

#imagem4 figcaption{
    position: absolute;
    top: 175px;
    right: 50px;
    font-size: 15px;
    color: var(--white);
    text-align: center;
    border-radius: 20px;
    margin-top: -60px;
    margin-left: 60px;
    margin-right: 10px;
    
}

.information_twoo {
    margin-top: -40px;
    display: flex;
    padding: 80px;
}

#imagem5 {
    border: solid rgba(0, 0, 0, 0.1);
}

.imagem5img {
    width: 650px;
}

.icone5text{
    display: flex;
    padding: 30px;
}

.imagem5text {
    margin-top: 0px;
    font-size: 12px;
    background-color: var(--white);
    
}

.icons {
    display: flex;
    justify-content: space;
    align-items: center;
    padding: 10px;
}

.iconheart {
    position: flex;
    justify-content: end;
}

.imagem6 {
    width: 325px;
    margin-left: 140px;
}

.imagem6text {
    margin-left: 140px;
    font-size: 16px;
    background-color: rgba(62, 198, 255, 0.34);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.information_twoo2 {
    margin-top: -60px;
    display: flex;
    padding: 80px;

}

#imagem7 {
    border: solid rgba(0, 0, 0, 0.1);
}

.imagem7img {
    width: 650px;
}

.imagem7text {
    margin-top: 0px;
    font-size: 12px;
    background-color: var(--white);
    
}

.icone7text{
    display: flex;
    padding: 30px;
}


.information_twoo3 {
    margin-top: -60px;
    display: flex;
    padding: 80px;

}

#imagem8 {
    border: solid rgba(0, 0, 0, 0.1);
}

.imagem8img {
    width: 650px;
}

.imagem8text {
    margin-top: 0px;
    font-size: 12px;
    background-color: var(--white);
    
}

.icone8text{
    display: flex;
    padding: 30px;
}

.infosabout {
    position: relative;
    width: 95%;
    height: 500px;
    left: 44px;
    top: 20px;
    background: #3EC6FF;
    margin-bottom: 5%;
}

/* FOOTER */

.footerbox {
    display: flex;
    justify-content: space-between;
    background-color: rgba(62, 198, 255, 100);
    padding: 20px;
}

.text-input {
    height: 34px;
    border: 0;
}

.forminfo {
    width: 500px;
    display: flex;
    justify-content: center;
}

.footertext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
    opacity: 1;
    padding: 10px;
}

.maisinfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 40px;
}

.infofooter {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: var(--white);
    opacity: 1;
    padding: 10px;
}

.iconline {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footerrodape {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: var(--white);
    background-color: rgba(65, 145, 178, 1);
}

/* TABLES E FORM*/

.forms {
    position: absolute;
    top: 110px;
    right: 30px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-top: -60px;
    margin-right: 20px;
    padding: 150px;
}

.paragraph-form {
    text-align: center;
    margin-top: -130px;
}

.input-group1 {
    margin-right: 10px;
    margin-left: -25px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.input-group2 {
    margin-right: 10px;
    margin-left: -25px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.input {
    width: 40%;
    height: 57px;
    border: 3px solid #D7D4D4;
    box-sizing: border-box;
    border-radius: 10px;
}

.table-text {
    padding: 50px;

}

.inputarea {
    width: 850px;
    height: 200px;
    border: 3px solid #D7D4D4;
    box-sizing: border-box;
    border-radius: 10px;
}

/*H1 e P */

.h1about {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: var(--white)
}

.pabout {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    color: var(--white);
}

.iframevideo {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.legend {
    text-align: center;
}